<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.briangonzalez.alfred-messages</string>
	<key>connections</key>
	<dict>
		<key>DE2C1397-FF3B-440C-85D1-18426DBF9416</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF2C92C8-ED1E-43D6-82DA-DB936069F5DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DC44F9DF-FC95-4D20-B903-245929AF1FBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECF5627B-56A0-4CF6-82E8-0E66FCCE8818</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE2C1397-FF3B-440C-85D1-18426DBF9416</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7919BBA2-1BD9-4E9D-AF6F-32C3E84552B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Brian Gonzalez</string>
	<key>description</key>
	<string>Message your Apple Contacts via Alfred using Messages</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Messages</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Message sent</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DF2C92C8-ED1E-43D6-82DA-DB936069F5DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var parameters = argv[0].split("•••");
  if (parameters.length &gt;= 3) {
    var emailOrPhone = parameters[1];
    var message = parameters[2];
  
    var iMessage = Application("Messages");
    var services = iMessage.services();
    var service = services.find(function (service) {
      return service.serviceType() == "iMessage";
    });
       iMessage.send(message, {to: service.buddies[emailOrPhone]}) 
  }
  Application("System Events").processes.whose({name: "Messages"})[0].visible = false
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/send-message.js</string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DE2C1397-FF3B-440C-85D1-18426DBF9416</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>m</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>query = ARGV.first.split(' ')[0]

message = ARGV.first.split(' ')
message.shift
message = message.join ' '

system("swift ./src/contacts.swift #{query} \"#{message}\"")</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/list-filter-search-contacts.rb</string>
				<key>subtext</key>
				<string>Begin typing to search your contacts...</string>
				<key>title</key>
				<string>Message a contact</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ECF5627B-56A0-4CF6-82E8-0E66FCCE8818</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>DC44F9DF-FC95-4D20-B903-245929AF1FBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>7919BBA2-1BD9-4E9D-AF6F-32C3E84552B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7919BBA2-1BD9-4E9D-AF6F-32C3E84552B7</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>DC44F9DF-FC95-4D20-B903-245929AF1FBC</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>DE2C1397-FF3B-440C-85D1-18426DBF9416</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>DF2C92C8-ED1E-43D6-82DA-DB936069F5DB</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>ECF5627B-56A0-4CF6-82E8-0E66FCCE8818</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.1</string>
	<key>webaddress</key>
	<string>https://www.briangonzalez.org</string>
</dict>
</plist>
